body{
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgZ4NRsxOS06ceTqQa_Q0It9IRQ0wQDy5F6Q&usqp=CAU);
    background-repeat: no-repeat;
    background-size: 100%;
}

main{
    /* text-align: center; */
    justify-content: center;
    width:300px;
    justify-self: center;
    margin-left: 800px;
    margin-top: 100px;
}

h1{
    margin-left: 10px;
}



li{
    font-size: 15px;
}